<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Restaurant reviews</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
	<h1>Restaurant reviews</h1>


	<form th:action="@{/logout}" method="post">
	<input type="submit" value="log out"/>
	</form>
	
	<div>
	<h3 th:inline="text"> welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	
	

		<table>
		<tbody>
		<tr th:each = "review : ${reviews}">
		<td th:text="${review.restaurant.restaurantName}"> </td>
		<td th:text="${review.restaurant.restaurantType}"> </td>
		<td> - </td>
		<td th:text="${review.reviewer}"> </td>
		<td th:text="${review.note}"> </td>
		<td th:text="${review.value}"> </td>
		<td th:text="${review.grade}"> </td>
	
		<td sec:authorize="hasAuthority('ADMIN')"> <a th:href="@{/delete/{id}(id=${task.id})}">Delete</a> </td>
		</tr>
		
		
		</tbody>
		</table>
		
		<a href="/add"> Lisää uusi task </a>

</body>

</html>